//Верхняя часть хедера
.header-top
    //Социалки
    - var socials = {'fb':'Facebook', 'vk':'Вконтакте', 'tw':'Twitter'}
    ul.social-list
        each social, key in socials
            li.social-list__item
                a(href="#" class="social-list__link social-list__link_#{key}" title="Сылка на #{social}") Сылка на #{social}
    //Контакты
    - var contacts = {'map': 'ул. Маяковская 6, офис 17', 'telephone': '+7 (921) 123-12-13'}
    ul.contacts-list
        each contact, key in contacts
            li.contacts-list__item
                a(href="#" class="contacts-list__link contacts-list__link_#{key}" title="#{contact}") #{contact}