//Контент
article.content
    //Сортировка
    .sort
        span.sort__select-label Сортировать по
        - var options = ['по цене', 'по популярности']
        select.sort__select
            each option in options
                option.sort__option #{option}
        .sort__view
            .sort__view-title Вид каталога
            - var views = {'table': 'Таблица', 'pic': 'Значки', 'list': 'Список'}
            ul.sort__list
                each view, key in views
                    li.sort__item
                        a(href="#" class="sort__link sort__link_#{key}" title="#{view}") #{view}
    //Товары
    .goods
        include ./_phones
        ul.goods__list
            each product in products
                li.goods__item
                    .product-slider
                        img.product-slider__main-image(src="img/products/#{product.img}.jpg" alt="#{product.name}")
                        - var positions = ['left', 'center', 'right']
                        ul.product-slider__min-image-list
                            each position in positions
                                li.product-slider__min-image-item
                                    img.product-slider__min-image(src="img/products/#{product.img}-min-#{position}.jpg" alt="#{product.name}" class="product-slider__min-image_#{position}")
                    .product-name #{product.name}
                    .product-info
                        - var infoKeys = {'Тип SIM-карты': product.simType, 'Количество SIM-карт': product.sim, 'Цвет': product.color, 'ОC': product.system, 'Связь 3G': product.has3g, '4G (LTE)': product.has4g, 'GPS-модуль': product.gps}
                        ul.product-info__list
                            each value, key in infoKeys
                                li.product-info__item
                                    span.product-info__key #{key}
                                    span.product-info__value #{value}
                        .product-rating
                            - var star = 0
                            ul.product-rating__list
                                while star++ < 5
                                    li.product-rating__star
                            span.product-rating__count #{product.rating}
                    .product-buy
                        .product-buy__price #{product.price}
                        .product-buy__stock
                            .product-buy__indicator(class="product-buy__indicator_#{product.stock}")
                            span.product-buy__text #{product.stockText}
                        button.product-buy__button В корзину
    //Страницы
    nav.pages-nav
        - var pages = [1, 2, 3]
        ul.pages-nav__list
            li.pages-nav__item <
            each page in pages
                li.pages-nav__item #{page}
            li.pages-nav__item >